<launch>

    <arg name="nof_turtle" default="1" />
    <arg name="nav" default="true"/>
    <arg name="world_file"  default="$(env TURTLEBOT_GAZEBO_WORLD_FILE)"/>

    <!-- world -->

    <include file="$(find gazebo_move_v2)/launch/includes/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="gui" value="true" />
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="gzclient_args" value="-g libgazebo_move_v2.so" />
    </include>


    <!-- map server-->

    <group if="$(arg nav)">
        <arg name="map_file" default="$(env TURTLEBOT_GAZEBO_MAP_FILE)"/>
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
            <param name="frame_id" value="/map" />
        </node>
    </group>


    <!-- model spawner -->

    <node name="spawn_multi_robots" pkg="gazebo_move_v2" type="spawn_multi_robots" args="-nof_turtle $(arg nof_turtle) -nav $(arg nav)" output="screen"/>

  <!--
  <include file="$(find gazebo_move_v2)/launch/generic_turtle.launch">
    <arg name="turtle_id" value="1"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0" />
  </include>

  <include file="$(find gazebo_move_v2)/launch/generic_turtle.launch">
    <arg name="turtle_id" value="2"/>
    <arg name="x" value="1"/>
    <arg name="y" value="0" />
  </include>
    -->

</launch>


